*{
    margin: 0; padding: 0; box-sizing: border-box;
}

.kporo{
background-color: burlywood;
margin: 70px;
padding: 50px;
align-items: center;
border: 20px solid rgba(216, 91, 57, 0.891);
text-align: center;
font-size: 25px;
color: white;
cursor: pointer;
transform: translateX(0);



}

body{
    background: white;
}
.online :hover{
transition: 5s;
background-color: blue;
}
.log a{
    font-size: large;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    font-style: unset;
    text-align: center;
   
    background-color: black;
    height: 85px;
    color: white;
    transform: translateX(0);
    cursor: pointer;
    color: yellow;

    
}
.d p{
    font-size:18px;
    color: lightgreen;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}
.d :hover{
    transition: 5s;
    background-color: blue;
}
